.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    /* padding: 20px 50px; */
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.logo-text {
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

.nav-bar {
    background-color: #000;
    border-radius: 30px;
    padding: 5px;
    margin-right: 50px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    font-size: 16px;
}

.sign-in-btn {
    background-color: white;
    color: #000;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 20px;
}
