.body {
  background-color: #f0f9f0;
  display: flex;
  min-height: 100vh;
}

sidebar {
  width: 250px;
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

maincontent {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}